@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-amplify-authenticator] {
    width: auto;
    height: auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}